h1 {
    color: gray;
    text-align: center;
  }

  header {
    min-height: 80vh;
    background: rgb(134, 37, 200);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    display: block;
    width: 100%;
  }

  .wrapper {
    max-width: 960px;
    margin-inline: auto;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 3rem;
  }

  .grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .bilder {
    grid-row: span 3;
    display: grid;
    grid-template-rows: subgrid;
    gap: 1rem;
    border-radius: 0.5rem;
    overflow: hidden;
  }